.hidden 
{
    color: transparent;
}

body
{
    background-color: #4a4063;
    color: #FFF;
    font-family: 'SF Pixelate', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.encavezado
{
    width: 80%;
    /*sirve para el maximo de px a ocupar */
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
header
{
    width: 10%;
    padding: 20px;
    float: left;
    /*Nos permite acomodar el contenido total de padding */
    /*si tenemos 700 + 20 de padding, no se suma */
    box-sizing: border-box;
}
header image{
    width: 100%;
    height: auto;
}
aside{
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
    float: left;

}
#wordContainer
{
    margin-top: 20px;
}

.letter
{
    margin: 0 7px;
    position: relative;
    text-align: center;
}

.letter::after
{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    max-width: 12px;
}

#startButton
{
    margin: 20px;
    appearance: none;
    font-family: 'SF Pixelate', sans-serif;
    border: none;
    width: 300px;
    padding: 10px;
    background: #d95d39;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}

#entrada
{
    padding: 20px;
    margin: 20px;
}

#palabraNueva
{
    padding: 20px;
    margin: 20px;
    appearance: none;
    font-family: 'SF Pixelate', sans-serif;
    border: none;
    width: 150px;
    padding: 10px;
    background: #d95d39;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}

#ingresarP
{
    margin: 20px;
    appearance: none;
    font-family: 'SF Pixelate', sans-serif;
    border: none;
    width: 300px;
    padding: 10px;
    background: #d95d39;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}
@media screen and (max-width: 400px) {
    .encavezado{
        width: 100%;
    }
    #usedLetters{
        width: 100%;
        padding: 20px;
    }
    #wordContainer{
        width: 100%;
        padding: 20px;
    }
    #palabraNueva{
        width: 100%;
        padding: 20px;
    }
    
    
}